<div class="card poly-cart" data-bs-toggle="collapse" href="#collapseOne">
    <div class="card-header bg-secondary text-white">
      <span class="glyphicon glyphicon-th-list"></span><i class="bi bi-list-ul"></i>
      <strong>Chủng loại</strong>
    </div>
    <div id="collapseOne" class="list-group panel-collapse collapse in">
      <a href="#!category/mobile" class="list-group-item">Điện thoại di động</a>
      <a href="#!category/laptop" class="list-group-item">Máy tính xách tay</a>
      <a href="#!category/mobile" class="list-group-item">Máy tính để bàn</a>
      <a href="#!category/mobile" class="list-group-item">Quạt máy</a>
      <a href="#!category/mobile" class="list-group-item">Tivi</a>
      <a href="#!category/mobile" class="list-group-item">Tủ lạnh</a>
  </div>
 </div>