<div class="row m-1 py-2" style=" border: 1px solid #c7c3c3; border-radius: 5px;">
  
    <div class="container-fluid">
      <div class="row">
        <div class="col product-detail-header">
          Chi tiết sản phẩm
        </div>
      </div>
      <div class="row">
        <img src="images/1006.png" width="100" class="col-sm-4 img-fluid">
        <div class="col-sm-8">
          <ul class="product-detail-info list-unstyled">
            <li>Tên hàng: <span class="badge bg-info rounded-pill">Laptop</span></li>
            <li>Đơn giá: 2500$</li>
            <li>Nhà phân phối: Apple</li>
            <li>Số lượng: 1000 <span class="badge bg-success rounded-pill">cái</span></li>
            <li>Giảm giá: 3 <span class="badge bg-success rounded-pill">%</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row my-3">
            <div class="col related-products">Hàng liên quan</div>
          </div>
          <div class="row">
            <div class="col">
              <img src="images/1006.png" width="80" class="img-thumbnail">
              <img src="images/aodabong.jpg" width="80" class="img-thumbnail">
              <img src="images/cart.jpg" width="80" class="img-thumbnail">
              <img src="images/product-2.jpg" width="80" class="img-thumbnail">
              <img src="images/tainghe.jpg" width="80" class="img-thumbnail">
              <img src="images/tivi.jpg" width="80" class="img-thumbnail">
              <img src="images/loa.jpg" width="80" class="img-thumbnail">
              <img src="images/quạt điều hòa.png" width="80" class="img-thumbnail">
              <img src="images/tủ lạnh.jpg" width="80" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
    </div>
  

  

</div>