<div class="jumbotron"
  style=" border-top: 5px solid #193687;border-bottom: 5px solid #193687; border-radius: 5px; background-color: rgb(244, 241, 241);">
  <h1 class="display-3">Lời Giới Thiệu Về Siêu Thị Walmart</h1>
  <p class="lead">Walmart là tập đoàn bán lẻ đa quốc gia có trụ sở tại Bentonville, Arkansas, Hoa Kỳ. Được thành lập
    vào năm 1962 bởi Sam Walton, Walmart đã trở thành một trong những nhà bán lẻ lớn nhất thế giới với hàng ngàn cửa
    hàng trên khắp Hoa Kỳ và nhiều quốc gia khác.

    Walmart nổi tiếng với việc cung cấp đa dạng sản phẩm từ thực phẩm, đồ gia dụng, điện tử, quần áo đến các dịch vụ
    tài chính và dược phẩm, tất cả với giá cả cạnh tranh theo câu thương hiệu "Save Money. Live Better."

    Tập đoàn cũng chú trọng phát triển bền vững và hoạt động từ thiện, không ngừng cải tiến để đáp ứng nhu cầu khách
    hàng và duy trì vị thế dẫn đầu trong ngành bán lẻ.
  </p>
  <p class="lead"> Siêu Thị Walmart – Tiết Kiếm Tiền , Cuộc Sống Dễ Dàng!</p>
  <hr class="my-2">
  <p>Bấm Vào Đây Để Xem Cái Khuyến Mãi Hấp Dẫn </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg float-right" href="#" role="button">Xem thêm</a>
  </p>
</div>