<div class="card poly-cart">
  <div class="card-header">
    <i class="bi bi-box-arrow-in-down-left"></i> Góp Ý
  </div>
  <form action="#">
    <div class="row" style="margin: 5px;">
      <div class="form-group col-sm-6">
        <label for="">Họ Và Tên</label>
        <input type="text" class="form-control" placeholder="Họ và tên">
      </div>
      <div class="form-group col-sm-6">
        <label for="">Giới Tính</label>
        <select name="" id="" class="form-control">
          <option value="">Nam</option>
          <option value="">Nữ</option>
          <option value="">Khác</option>
        </select>
      </div>

    </div>
    <div class="row" style="margin: 5px;">
      <div class="form-group col-sm-6">
        <label for="">Nơi Sinh Sống</label>
        <select name="" id="" class="form-control">
          <option value="">Đà Nẵng</option>
          <option value="">Hà Nội</option>
          <option value="">HCM</option>
          <option value="">Quảng Ning</option>
        </select>
      </div>
      <div class="form-group col-sm-6">
        <label for="">Số Điện Thoại</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">+083</span>
          </div>
          <input class="form-control" type="text" name="" placeholder="Số điện thoại" aria-label="">

        </div>
      </div>

    </div>
    <div class="row" style="margin: 5px;">
      <div class="form-group col-sm-6">
        <label for="">Tên Tài Khoản</label>
        <input type="text" class="form-control" placeholder="Tên Tài Khoản">
      </div>
      <div class="form-group col-sm-6">
        <label for="">Email</label>
        <input type="text" class="form-control" placeholder="Email">
      </div>

    </div>
    <div class="row" style="margin: 5px;">
      <div class="form-group col-sm-12">
        <label for="">Lời Góp Ý</label>
        <textarea class="form-control" name="" id="" cols="" rows="6"></textarea>
      </div>

    </div>
    <div class="row" style="margin: 5px;">
      <div class="form-group col-sm-12" style="font-size: 16px;">
        <button type="button" class="btn btn-primary" style="font-size: 16px; "><i class="bi bi-send"></i>Gửi</button>
        <button type="button" class="btn btn-primary" style="font-size: 16px;"><i
            class="bi bi-x-circle"></i>Hủy</button>
      </div>
    </div>

  </form>
  <div class="card-footer text-muted">
    Vui lòng nhập đủ thông tin !
  </div>
</div>