<div class="container-fluid py-2" style="background: rgb(249, 245, 245) ; border-radius: 10px;">
  <h1 class="display-5 fw-bold">Android Tivi Aqua 4K 55 inch</h1>
  <p class="lead">Android Tivi AQUA 4K 55 inch AQT55D67UG sở hữu màn hình 55 inch, độ phân giải 4K cho hình ảnh
    sắc nét, dải màu rộng Wide Color Gamut cho những khung hình rực rỡ, tái tạo đa dạng sắc màu. Công nghệ Dolby
    Digital mang đến trải nghiệm âm thanh ba chiều sống động, chân thực. Trang bị Google Assistant có tiếng Việt
    và tìm kiếm giọng nói trên YouTube bằng tiếng Việt.
    <hr>
    <button class="btn btn-outline-primary btn-lg" type="button">Xem chi tiết</button>
</div>
<div class="container-fluid  pt-0">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner text-center">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="images/tivi.jpg" class=" w-50 h-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Android Tivi Aqua 4K 55 inch</h5>
          <p>Android Tivi 55 inch phù hợp với không gian phòng ngủ, phòng khách.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/tủ lạnh.jpg" class=" w-50 h-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tủ lạnh LG Inverter 494 lít GR-D22MB 4 cửa
          </h5>
          <p>Tủ lạnh 4 cánh có dung tích 494 lít thích hợp cho gia đình 4 - 5 thành viên</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/quạt điều hòa.png" class=" w-50 h-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Quạt điều hòa Coex CA-7115</h5>
          <p>Công suất 150W tạo lưu lượng gió 3000 m³/h, phù hợp với phòng 30-40m2</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>