<div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#!home">
            <i class="bi bi-house-door-fill"></i> Trang chủ
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!gioiThieu"><i class="bi bi-list-ul"></i> Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!sanPham"><i class="bi bi-bag-fill"></i> Sản Phẩm</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#!lienHe"><i class="bi bi-telephone"></i> Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!gopY"><i class="bi bi-envelope-fill"></i>Góp ý</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-question-circle-fill"></i>Hỏi đáp</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-fill"></i>Tài khoản
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#!account/dangNhap">Đăng nhập</a></li>
            <li><a class="dropdown-item" href="#!account/quenMatKhau">Quên mật khẩu</a></li>
            <li><a class="dropdown-item" href="#!account/dangKy">Đăng kí thành viên</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            <li><a class="dropdown-item" href="#!account/doiMatKhau">Đổi mật khẩu</a></li>
            <li><a class="dropdown-item" href="#!account/capNhatHoSo">Cập nhập hồ sơ</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#!account/donHang">Đơn hàng</a></li>
            <li><a class="dropdown-item" href="#">Hàng đã mua</a></li>

          </ul>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-star-fill"></i>Tiếng
            Việt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-currency-dollar"></i>English</a>
        </li>
      </ul>
    </div>
  </div>