<div class="row m-1 py-2" style=" border: 1px solid #c7c3c3; border-radius: 5px;">
  
    <div class="row mt-1">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <a href="#!chiTietSanPham" class="custom-link">Iphone 11</a>
          </div>
          <div class="card-body text-center">
            <img src="images/tivi.jpg" width="210" height="200" alt="">
          </div>
          <div class="card-footer">
            $ 100.25
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <a href="#!chiTietSanPham" class="custom-link">Iphone 11</a>
          </div>
          <div class="card-body text-center">
            <img src="images/tủ lạnh.jpg" width="210" height="200" alt="">
          </div>
          <div class="card-footer">
            $ 100.25
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <a href="#!chiTietSanPham" class="custom-link">Iphone 11</a>
          </div>
          <div class="card-body text-center">
            <img src="images/tainghe.jpg" width="210" height="200" alt="">
          </div>
          <div class="card-footer">
            $ 100.25
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <a href="#!chiTietSanPham" class="custom-link">Iphone 11</a>
          </div>
          <div class="card-body text-center">
            <img src="images/1006.png" width="210" height="200" alt="">
          </div>
          <div class="card-footer">
            $ 100.25
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <a href="#!chiTietSanPham" class="custom-link">Iphone 11</a>
          </div>
          <div class="card-body text-center">
            <img src="images/quạt điều hòa.png" width="210" height="200" alt="">
          </div>
          <div class="card-footer">
            $ 100.25
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <a href="#!chiTietSanPham" class="custom-link">Iphone 11</a>
          </div>
          <div class="card-body text-center">
            <img src="images/loa.jpg" width="210" height="200" alt="">
          </div>
          <div class="card-footer">
            $ 100.25
          </div>
        </div>
      </div>
    </div>
 

</div>