<div class="card poly-cart" data-bs-toggle="collapse" href="#collapseTwo">
    <div class="card-header bg-secondary text-white">
      <span class="glyphicon glyphicon-th-list"></span><i class="bi bi-list-ul"></i>
      <strong>Hàng Đặc Biệt</strong>
    </div>
    <div id="collapseTwo" class="list-group panel-collapse collapse in">
        <a href="#!special/best" class="list-group-item">Hàng bán chạy</a>
        <a href="#!special/latest" class="list-group-item">Hàng mới</a>
        <a href="#!special/best" class="list-group-item">Hàng giảm giá</a>
        <a href="#!special/best" class="list-group-item">Hàng đặc biệt</a>
        <a href="#!special/best" class="list-group-item">Hàng xem nhiều</a>
  </div>
 </div>